# Build output & Gradle cache
/build/
.gradle/
*.apk
*.aab
output.json

# Local configuration
local.properties

# IDE files and caches
/.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Profiling and native build files
/captures/
.externalNativeBuild/
.cxx/
*.hprof

# Log and OS files
*.log
.DS_Store
